.container{
    padding-bottom: 0;
}
#gamePanel {
    border-radius: 10px 0 0 0;
    margin-top: 10%;
    margin-left: 35%;
    box-shadow: 0 0 20px black;
    width: 600px;
    height: 600px;
    border-radius: 10px 10px 0 0 ;
}
#gamePanel h1 {
    border-radius: 10px 10px 0 0 ;
    text-align: center;
    background-color: rgb(0, 0, 0);
    font-size: 40px;
    padding: 0 0 15px 0;
    color: white;
}

#gamePanel h3 {
    font-size: 30px;
    margin-left: 10%;

}

#gamePanel p {
    font-size: 30px;
    margin-left: 10%;
}
#inPan {
    margin-left: 30%;
    height: 100%;
    width: 100%;

}
#rules {
    font-size: 5px;
}


h3 {
    margin-left: 50%;
}

#msgDisplay {
    margin-left: 50%;
}
#rollBtn {
    margin-top: 17px;
    margin-left: 40%;
    align-items: center;
    font-size: 20px;
    height: 30px;
    width: 20%;
}
#rollBtn:hover {
    box-shadow: 0 0 20px white;
}

#diceImg {
    margin-top: 10%;
    margin-left: 10%;
}
#btm {
    margin-top: -151px;
    background-color: black;
    width: 100%;
    height: 10%;
    align-content: center;
}
@media @media only screen and (max-width: 767px) {
    #gamePanel {
        width: 90%;
    }
    .container {
        margin-left: -5%;
        width: 70%;
    }
    #gamePanel h1{
        margin-left: 0;
        width: 100%;
    }
    #rollBtn { 
        width: 40%;
    }
    #btm {
        width: 100%;
        
    }
    #diceImg{
        height: 150px;
        width: 150px;
        margin-left: -10px;
    }
    
}
